- title "Installation Views"

.row
  %h4.page-title Installation Views

.row
  .col-md-8
    = link_to(image_tag("#{@prefix}#{@image}"), installation_path(@next))
    %br
    %br
  .col-md-4
    All images are courtesy of 
    = link_to 'Fette', 'http://fette.tumblr.com/', target: '_blank'

= link_to '', installation_path(@prev), id: 'prev'
= link_to '', installation_path(@next), id: 'next'
