- title 'Artists'

.row
  %h4.page-title Artists

.row.artist-letters 

  = link_to 'A-B', artists_path
  &nbsp;
  = link_to 'C-E', artists_path(letters: 'cde')
  &nbsp;
  = link_to 'F-G', artists_path(letters: 'fg')
  &nbsp;
  = link_to 'H-K', artists_path(letters: 'hijk')
  &nbsp;
  = link_to 'L-M', artists_path(letters: 'lm')
  &nbsp;
  = link_to 'N-R', artists_path(letters: 'nopqr')
  &nbsp;
  = link_to 'S-T', artists_path(letters: 'st')
  &nbsp;
  = link_to 'U-Z', artists_path(letters: 'uvwxyz')

- @artist_rows.each do |row|
  .row.vertical-align
    - row.each do |artist|
      .col-xs-12.col-sm-3
        .thumbnail
          = artist_image(artist)
          .caption= artist.name
