- title(alt_text(@work))

.row
  .col-md-8
    = show_work_images
    - if @work.images.any? && !@work.artist.show_large_images
      %p.why
        %a{href: '#', id: 'why-small'}= "Why #{@work.images.count > 1 ? 'are these images' : 'is this image'} small?"
    %br
  .col-md-4
    %h5.title= @work.title
    = link_to(@work.artist.name, @work.artist)
    %br
    = work_date(@work)
    .work-details
      = show_work_info(:medium)
      = show_work_info(:dimensions)
    .work-details
      - if @work.provenance.present?
        Provenance: 
        = raw(textilize_without_paragraph(@work.provenance))
      - if @work.acquisition_year.present?
        %br
        Acquisition Year: #{@work.acquisition_year}
      %p
        Category:
        = @work.category.name
    - if @work.description.present?
      .work-details
        %h5 Description
        = raw(textilize(@work.description))
- if @additional_works.any?
  .row
    .col-md-12
      .other-works
        Other Works
  .row.vertical-align
    - @additional_works.each do |work|
      .col-xs-12
        .thumbnail
          = work_thumbnail(work)
          .caption= truncate(work.title)
