= simple_form_for [:admin, @artist], html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, autofocus: true
    = f.input :sort_name
    = f.input :home_page
    = f.input :birth_year
    = f.input :death_year
    = f.input :gender, collection: Artist::GENDER_OPTIONS
    = f.input :nationality_id, collection: Nationality.order(:name)
    = f.input :notes
    = f.input :show_large_images
    = f.input :missing_information
    = f.input :private_notes

  .form-actions
    = f.button :submit
