%h3 Works

.row
  .col-md-12
    %p= link_to 'Add new work', new_admin_work_url
.row
  .col-md-12.search-form
    = form_for_filterrific @filterrific, html: { class: 'form-inline' } do |f|
      .form-group
        %label Search
        = f.text_field :search_query, class: 'filterrific-periodically-observed form-control'
      .form-group
        %label
        = link_to('Reset filters', reset_filterrific_url)
    = render_filterrific_spinner

= render partial: 'list', locals: { works: @works }
