- title(alt_text(@work))

.row
  .col-md-8.thumbnails
    = render partial: 'image', collection: @work.images.order(:position)
    %br
  .col-md-4
    %p= link_to 'Edit artwork', edit_admin_work_path(@work)
    %p= link_to 'Add image', new_admin_work_image_path(@work)
    - if @work.images.any? && !@work.artist.show_large_images
      %p.no-image-permission
        No image permission
    %hr
    %h5.title= @work.title
    = link_to(@work.artist.name, @work.artist)
    %br
    = work_date(@work)
    .work-details
      = show_work_info(:medium)
      = show_work_info(:dimensions)
      - if @work.edition.present?
        %p
          Edition:
          = @work.edition
    .work-details
      - if @work.provenance.present?
        Provenance: 
        = raw(textilize_without_paragraph(@work.provenance))
      - if @work.acquisition_year.present?
        %br
        Acquisition Year: #{@work.acquisition_year}
      %p
        Category:
        = @work.category.name
      - if @work.tags.any?
        %p
          Tags:
          = @work.tags.join(', ')
      - if @work.price_paid.present?
        %p
          Price paid:
          = number_to_currency(@work.price_paid)
    - if @work.description.present?
      .work-details
        %h5 Description
        = raw(textilize(@work.description))

:javascript
  var work_id = #{@work.id};
  $(document).ready(function() {
    $(".caption").editable({
      emptytext: "click to edit"
    });
  });
